<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="m-4">
    <h2 class="text-xl text-blue-900"><%=title%></h2> 
    <p class="text-xl4 text-zinc-900 mt-4"><%=detail%></p>

    <div class="mt-10">
        <a class="mt-10 text-blue-600 underline underline-offset-2 mr-4" href="/">back</a>
        <a class="text-red-600 underline underline-offset-2 mr-4 " href="/delete/<%=title%>">delete</a>
    </div>
</body>
</html>